.categories-list {
    .top-bar {
        height: 50px;
        border: none;
        margin-bottom: 40px;
    }

    .content {
        .table {
            thead {
                border: none !important;
            }
        }
    }
}