<div class="locations-list">
    <div class="top-bar row flex justify-content-between align-items-center">
        <p>My Locations</p>
        <button class="btn btn-primary" (click)="open(content)">Add Location</button>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control border-none" (keyup)="search()" [(ngModel)]="searchKey" placeholder="Search Location By Name" aria-label="Search Location By Name" aria-describedby="searchButton">
                <!-- <button class="btn btn-outline-secondary" [ngClass]="{'btn-success text-light': searchKey !== ''}" type="button" id="searchButton" (click)="search()" [disabled]="searchKey === ''">Search</button> -->
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <div class="dropdown">
                <button class="btn bg-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  View By Category
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="viewByCategory(null)">All Categories</a></li>
                    <li><a class="dropdown-item" (click)="viewByCategory(category.name)" *ngFor="let category of categories">
                        {{ category.name | titlecase }}
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="dropdown">
                <button class="btn bg-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" (click)="sort('name')">In Alphabetical Order</a></li>
                  <li><a class="dropdown-item" (click)="sort('category')">By Category</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content table-responsive">
        <p class="text-center" *ngIf="locations.length === 0">No Locations Saved!!!</p>
        <table class="table table-borderless" *ngIf="locations.length > 0">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of locations; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td colspan="3">{{ location.name | titlecase }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn bg-none dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item text-secondary" (click)="viewProps(i, view)">View Properties</a>
                          <a class="dropdown-item text-secondary" (click)="viewOnMap(i, viewMap)">View On Map</a>
                          <a class="dropdown-item text-secondary" (click)="toEdit(i, edit)">Edit</a>
                          <a class="dropdown-item text-danger" (click)="delete(i)">Delete</a>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- ADD LOCATION MODAL -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addLocationForm">
        <div class="mb-3">
          <label for="name">Location Name</label>
          <div class="input-group">
            <input id="name" class="form-control" name="name" formControlName="name">
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Location Address</label>
          <div class="input-group">
            <input id="address" class="form-control" name="address" formControlName="address">
          </div>
        </div>
        <div class="mb-3">
          <label for="category">Location Category</label>
          <div class="input-group">
            <select id="category" class="form-control" name="category" formControlName="category">
                <option value="Select Option" [selected]="true">Select Category</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{ category.name | titlecase }}</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="coords">Location Coordinates</label>
          <div class="input-group">
            <input id="coords" class="form-control" name="coordinates" formControlName="coordinates">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="addLocation()" [disabled]="addLocationForm.invalid"
      [ngClass]="{'btn-success text-light': addLocationForm.valid}">Add Location</button>
    </div>
</ng-template>

<!-- Edit Location Modal -->
<ng-template #edit let-modal>
    <app-edit-location-form [location]="locationToEdit" [index]="locations.indexOf(locationToEdit)"></app-edit-location-form>
</ng-template>

<!-- View Location Properties -->
<ng-template #view let-modal>
    <app-location-details [location]="locationToView"></app-location-details>
</ng-template>

<!-- View Location Properties -->
<ng-template #viewMap let-modal>
    <app-location-map-details [location]="locationToView"></app-location-map-details>
</ng-template>